<div>
  <%- include('./partials/_header.ejs'); %>
  <div id="navigation">
    <ul id="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="benefits.html">Benefits</a></li>
      <li class="active"><a href="moves.html">Moves</a></li>
      <li><a href="classes.html">Classes</a></li>
    </ul>
  </div> 
  <div id="contents">     
    <div id="main-body">
      <h3> Moves<br/><br/> </h3>
      <h4>Basic Climb</h4>
      <p>
        First we need to learn how to do the basic climb, also known as the french climb.<br/>
      </p>
      <ul>
        <li>Place your right hand up high. </li>
        <li>Right leg wraps outside to inside.</li>
        <li>Bend the knee and flex the foot.</li>
        <li>Join hands together.</li>
        <li>Step left foot on top of right.</li>
        <li>Push your feet forward to an L position.</li>
        <li>Bend the elbows and stand.</li>
      </ul>      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9M5JRDk9B1I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <%- include('./partials/_sidebar.ejs'); %> 
  </div>
  <%- include('./partials/_footer.ejs'); %>
</div>