<div>
<%- include('./partials/_header.ejs'); %>  
  <div id="navigation">
    <ul id="menu">
      <li><a href="index.html">Home</a></li>
      <li class="active"><a href="benefits.html">Benefits</a></li>
      <li><a href="moves.html">Moves</a></li>
      <li><a href="classes.html">Classes</a></li>
    </ul>
  </div>   
  <div id="contents">
      <div id = "main-body">
        <h3>
          Benefits 
        </h3>
        <h4>Increased Flexibility Without Impact</h4> 
        <p>
          Aerial yoga helps you to move more freely, with less effort, by counteracting gravity. Suspension in the air releases tension on the bones and muscles, increasing flexibility and deepening your practice. Suspended yoga strengthens core muscles and increases spinal and shoulder flexibility.
        </p>
        <h4>Improved Focus</h4>
        <p>
          This activity helps the performer focus on control of their movements in the body. When hanging on the piece of silk, the person is in a challenging position and more likely to concentrate harder. 
        </p>
        <h4>Strengthened Muscles</h4>
        <p>
          Aerial yoga improves strength and flexibility, which carries over into other daily activities. The core workout is a beneficial cross-training, as it helps runners increase stamina and be able recover faster.
        </p>
        <h4>Stress Relief</h4>
        <p>
          Aerial Silks clears the mind and relieves stress due to its meditative state.
        </p>

        <h4>Major Lift In Mental Health</h4>
        <p>
          Another key benefit of doing aerial yoga is that it gets your adrenaline going while going against gravity. It also releases “happy” hormones like serotonin, endorphins, oxytocin, dopamine, which boost your mood and help you feel more energetic.
        </p>
      </div>
      <div id = "page-image">
        <img src="./images/benefits-image.png" class="container-image">
      </div>   
    
    <%- include('./partials/_sidebar.ejs'); %> 
  </div>    
  <%- include('./partials/_footer.ejs'); %>
</div>