<div>
  <%- include('./partials/_header.ejs'); %> 
  <div id="navigation">
    <ul id="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="benefits.html">Benefits</a></li>
      <li><a href="moves.html">Moves</a></li>
      <li class="active"><a href="classes.html">Classes</a></li>
    </ul>
  </div>  
  <div id="contents">
    
    <div id="main-body">
      <h3> Classes <br/><br/></h3>
      <h4> Monday </h4>
      <p>
        10am:   Beginners Silks with Sarah<br/>
        noon:   Advanced Silks with Michelle<br/>
        1pm:    Open Studio<br/>
        5pm:    Aerial Yoga with Jane<br/>
        6pm:    Intermediate Silks with Michelle<br/>
        7pm:    Beginners Silks with Nicole<br/>
        8pm:    Aerial Yoga with Nicole<br/>
      </p>
      <h4> Tuesday </h4>
      <p>
        10am:   Beginners Silks with Sarah<br/>
        noon:   Advanced Silks with Michelle<br/>
        1pm:    Open Studio<br/>
        5pm:    Aerial Yoga with Jane<br/>
        6pm:    Intermediate Silks with Michelle<br/>
        7pm:    Beginners Silks with Nicole<br/>
        8pm:    Aerial Yoga with Nicole<br/>
      </p>
      <h4> Wednesday </h4>
      <p>
        10am:   Beginners Silks with Sarah<br/>
        noon:   Advanced Silks with Michelle<br/>
        1pm:    Open Studio<br/>
        5pm:    Aerial Yoga with Jane<br/>
        6pm:    Intermediate Silks with Michelle<br/>
        7pm:    Beginners Silks with Nicole<br/>
        8pm:    Aerial Yoga with Nicole<br/>
      </p>
      <h4> Friday </h4>
      <p>
        10am:   Beginners Silks with Sarah<br/>
        noon:   Advanced Silks with Michelle<br/>
        1pm:    Open Studio<br/>
        5pm:    Aerial Yoga with Jane<br/>
        6pm:    Intermediate Silks with Michelle<br/>
        7pm:    Beginners Silks with Nicole<br/>
        8pm:    Aerial Yoga with Nicole<br/>
      </p>
      <h4> Saturday </h4>
      <p>
        10am:   Beginners Silks with Sarah<br/>
        noon:   Advanced Silks with Michelle<br/>
        1pm:    Open Studio<br/>
        5pm:    Aerial Yoga with Jane<br/>
        6pm:    Intermediate Silks with Michelle<br/>
        7pm:    Beginners Silks with Nicole<br/>
        8pm:    Aerial Yoga with Nicole<br/>
      </p>
      <h4> Sunday </h4>
      <p>
        Studio Closed
      </p>
    </div>
    <div id="page-image">
      <img src="./images/classes.jpg" class="container-image">
    </div>
    <%- include('./partials/_sidebar.ejs'); %> 
  </div>
  <%- include('./partials/_footer.ejs'); %>
</div>