<div>
  <%- include('./partials/_header.ejs'); %>
  <div id="navigation">
    <ul id="menu">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="benefits.html">Benefits</a></li>
      <li><a href="moves.html">Moves</a></li>
      <li><a href="classes.html">Classes</a></li>
    </ul>
  </div>  
  <div>
    <h2> Quicklinks  </h2>
    <div id="homepage" class="homepage-quicklinks">
     <div id=silkKnot>
        <a href="silkKnot.html">Silk Knot<br/>
        <img src="./images/aerialknot.jpg" class="homepage-image" href="silkKnot.html"></a>
      </div>
      <div id=basicClimb>
        <a href="basicClimb.html">Basic Climb<br/>
        <img src="./images/basicclimb.jpg" class="homepage-image" href="basicClimb.html">        </a>
      </div>
      <div id=russianClimb>
        <a href="russianClimb.html">Russian Climb<br/>
        <img src="./images/russianClimb.jpg" class="homepage-image"></a>
      </div>
    </div> 
    <div id="container">
      <div id="main-body">
        <h3>
          Welcome To Aerial Silks! 
        </h3>
        <h4>
          <br/>
          <br/>
          What is Aerial Silks? 
        </h4>
        <p>
          Aerial Silks is a type of performance where one or more artists perform aerial acrobatics while hanging from a fabric.
           <br/>
           <br/>
        </p>
        <h4>
          Who can do Aerial Silks?
        </h4>
        <p>
          Everyone! Aerial Silks is for all ages and levels of fitness!
        </p>
         <h4>
          Where can I learn Aerial Silks?
        </h4>
        <p>
          Right here in our Dublin stuido! We have classes for all levels from beginner to advanced!<br/> <br/>
          Check out our class schedule right <a href="classes.html">here</a>!
        </p>
        <h4>
          Why should I learn Aerial Silks?
        </h4>
        <p>
          There are a ton of reasons to learn Aerial Silks. Not only is it fun, it's also good for your health! <br/> <br/>
          Check out our list of benefits right <a href="classes.html">here</a>!
        </p>
      </div>
      <div id="mainpage-image">
        <img src="./images/mainpage-image.png" class="container-image">
      </div>
    </div>
  </div>
  <%- include('./partials/_footer.ejs'); %>
</div>