<div>
  <%- include('./partials/_header.ejs'); %>
  <div id="navigation">
    <ul id="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="benefits.html">Benefits</a></li>
      <li class="active"><a href="moves.html">Moves</a></li>
      <li><a href="classes.html">Classes</a></li>
    </ul>
  </div>    
  <div id="contents">
    
    <div id="main-body">
      <h3> Moves<br/><br/> </h3>
      <h4>Russian Climb</h4>
        <ul>
          <li>Place the silk inside the knee but outside the foot. </li>
          <li>Pull your body weight up.</li>
          <li>Use the left foot to scoop the silk around the right foot.</li>
        </ul>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yqGs3hmK82g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <%- include('./partials/_sidebar.ejs'); %> 
  </div>
  <%- include('./partials/_footer.ejs'); %>
</div>
