<div id="sidebar">
 <h2>
    Quicklinks
  </h2>
   <ul id="quicklinks">
      <li><a href="silkKnot.html">Silk Knot</li>
      <img src="./images/aerialknot.jpg" class="sidebar-image"></a>
      <li><a href="basicClimb.html">Basic Climb</li>
      <img src="./images/basicclimb.jpg" class="sidebar-image"></a>
      <li><a href="russianClimb.html">Russian Climb</li>
      <img src="./images/russianClimb.jpg" class="sidebar-image"></a>
    </ul>
 </div>  